body {
    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
    background-size: cover;
    font-family: cursive;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container  {
    display: flex;
    flex-wrap: wrap;
    height: 420px;
    width: 420px;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    margin: auto;
}

.card {

    height: 120px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    position: relative;
    transform-style: preserve-3d;
    transition: all .3s linear;
}

.front,
.back{
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: top;
    align-content: center;
    border-radius: 15px;
}

.front {
    background-color: aqua;
    backface-visibility: hidden;
    z-index: 2;
}

.back {
    background: rgb(223, 143, 157);
    transform: rotateY(180deg);
    z-index: 1;
}

.card:hover {
    transform:rotateY(180deg)
}
